body {
    position: relative;
  min-width: 940px;
  font-size: 18px;
  font-family: "Cuprum";
  color: rgb(241, 245, 247);
  line-height: 1.333;
}

h1 {
  font-size: 30px;
  font-family: "Cuprum";
  color: rgb(50, 66, 92);
  text-transform: uppercase;
  line-height: 1;
}

h2 {
  font-size: 30px;
  font-family: "Cuprum";
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  line-height: 0.8;
      display: inline-block;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
    position: relative;
  width: 940px;
  margin: 0 auto;
}

.top-header {
  background-color: #33445a;
  height: 42px;
   
}

.header-logo {
  float: left;  
  width: 220px;
  height: 42px; 
  
  color: white; 

}

.header-logo a {
  width: 220px;
  height: 42px; 
  color: white; 
  background-color: #ff5357;
  border-bottom: 5px solid #c23f42;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  text-decoration: none;
}

.header-logo a:hover {
    background-color: #ca2c37;
    border-bottom: 5px solid #b52933;
}

.header-logo a:active {
    background-color: #ba2732;
    border-bottom: 5px solid #8e1e26;
}

.header-logo,
.header-form,
.Bookmarks,
.Purchases,
.Buy {
  float: left;  
}



.header-form,
.Bookmarks,
.Purchases {  
  line-height: 42px;
  vertical-align: middle;   
    color: white; 
    font-size: 17px;
    text-decoration: none;
}

.Bookmarks img,
.Purchases img {
    margin-left: 17px;
    margin-right: 13px;
}

.header-form {
    width: 270px;
    height: 42px;
}

.header-form input {
    display: block;
    position: relative;
    font-family: "Cuprum";
    font-size: 17px;
    box-sizing: border-box;
    padding-left: 48px;
    width: 270px;
    height: 42px;
    background-color: #33445a;
    border: none;
    color: white;
    background-image: url("../img/.icon-search0.png");
    background-repeat: no-repeat;
    background-position: 17px 12px;
}

.header-form input::-webkit-input-placeholder {
    color: white;
}

.header-form input:hover {
    background-color: #212a3a;
    background-image: url("../img/.icon-search1.png");
    background-repeat: no-repeat;
    background-position: 17px 12px;
}

.header-form input:focus {
    background-color: #ffffff;
    color: #000000;
    background-image: url("../img/.icon-search2.png");
    background-repeat: no-repeat;
    background-position: 17px 12px;
}

.Purchases {
    position: relative;
    box-sizing: border-box;
    padding-left: 49px;
    float: right;
    width: 150px;
    height: 42px;
}

.Purchases:hover {
    background-color: #212a3a;
}

.Purchases:active {
    background-color: #161d29;
    opacity: 0.6;
}

.Purchases::before {
    content: "";
    position: absolute;
    width: 17px;
    height: 16px;
    left: 16px;
    top: 12px;
    background-image: url(../img/.icon-basket.png);
    opacity: 0.3;
}

.Purchases:hover::before {
    opacity: 1;
}

.Bookmarks {
    position: relative;
    box-sizing: border-box;
    padding-left: 44px;
    float: right;
    background-color:  ;
    width: 150px;
    height: 42px;
}

.Bookmarks:active {
    background-color: #161d29;
    opacity: 0.6;
}

.Bookmarks:hover {
    background-color: #212a3a;
}

.Bookmarks::before {
    content: "";
    position: absolute;
    width: 14px;
    height: 16px;
    left: 17px;
    top: 12px;
    background-image: url(../img/.icon-bookmark.png);
    opacity: 0.3;
}

.Bookmarks:hover::before {
    opacity: 1;
}

.Buy {
    float: right;
    width: 150px;
    height: 42px; 
    background-color: #6db254;
    color: white; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.Buy:hover {
    background-color: #5fbb2d;
}

.Buy:active {
    opacity: 0.51;
}

.header-top {
    height: 42px;
    background-color: #33445a;
}

.header-bot {
    box-sizing: border-box;
    height: 280px;
    padding-top: 45px;
    background-color: #f2f6f8;
}

.description p {
    color: #ff5357;
    font-size: 16px;
    margin: 0px;
}

.description,
.contacts,
.registration {
    float:left;
}

.description {
    position: absolute;
    width: 197px;
    margin-left: 52px;
    margin-right: 71px;
    margin-top: 5px;
}

.contacts {
    position: absolute;
    left: 320px;
    width: 270px;
    height: 67px;
    margin: 0px auto;
}

.contacts span {
    font-size: 14px;
    color: #3d546e;
}

.header-adress {
    text-align: center;
}

.phone {
    width: 264px;
    height: 41px;
    border: 2px solid white;
    line-height: 41px;
}

.contacts .phone img,
.contacts .phone p,
.contacts p,
.contacts .phone {
   display: inline-block;
   
}

.phone img{
    margin-left: 15px;
    margin-right: 41px;
}

.phone span {
    font-size: 21px;
    color: #ff5357;
    margin-top: 13px;
}

.registration {
    float: right;
}

.client {
    width: 299px;
    height: 45px;
    background-color: white;
}

.user-block {
   float: right;
}

.login {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    width: 121px;
    height: 45px;
    margin-right: 10px;
    background-color: white;
    font-size: 21px;
    text-decoration: none;
    padding-left: 47px;
    padding-top: 9px;
}

.login::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 17px;
    background-image: url(../img/.icon-login.png);
    left: 14px;
    top: 14px; 
} 

.login:hover {
    color: #ee3643;
}

.login:hover::before {
    background-image: url(../img/.icon-login2.png);
}

.login:active {
    color: rgba(0, 0, 0, 0.3);
}

.login:active::before {
    background-image: url(../img/.icon-login.png);
}

.reg {
    box-sizing: border-box;
    display: inline-block;
    width: 150px;
    height: 45px;
    background-color: white;
    font-size: 21px;
    text-decoration: none;
    padding-left: 24px;
    padding-top: 9px;
}

.reg:hover {
    color: #ee3643;
}

.reg:active {
    color: rgba(0, 0, 0, 0.3);
}

.main-navigation {
   display: table; 
    position: absolute;
    top: 67px;
    width: 100%; 
    height: 60px;
}

.main-navigation {
    width: 940px;
    min-height: 60px;
    background-color: #33445a;
    box-shadow: inset 0 -5px 0 #293449;
}

.main-navigation a {
    display: table-cell;
    text-align: center; 
    vertical-align: middle;
    text-decoration: none;
    font-size: 17px;
    color: white;
}

.main-navigation a:hover {
    background-color: #293449;
}

.main-navigation a:active {
    background-color: #1d2739;
    opacity: 0.5;
}

.main-catalog .container {
    padding-top: 60px;
}

.thesis p {
    margin: 0px;
}

.thesis {
    position: relative;
    width: 300px;
    height: 123px;
    background-color: #ffbf47;
    margin-bottom: 20px;
}

.new::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;    
    top: 0px;
    right: 0px;
    background: url(new_flag.png) no-repeat;
    z-index: 20;
}

.thesis p {
    float: left;
    font-size: 24px;
    font-weight: 500;
    margin-top: 20px;
    margin-left: 22px;
}

.thesis a {
    float: left;
    width: 135px;
    height: 38px;
    font-size: 14px;
    color: white;
    text-decoration: none;
    line-height: 38px;
    vertical-align: middle;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    text-transform: uppercase;
    margin-left: 25px;
    margin-top: 15px;
}

.thesis a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.thesis a:active {
    background-color: rgba(0, 0, 0, 0.3);
}

.thesis .images {
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 123px;
}

.instruments {
    background-color: #3bbce3;
}

.technics {
    background-color: #dc91d8;
}

.discounts {
    background-color: #8ed78f;
}

.delivery {
    margin-bottom: 0px;
}

.right {
    float: right;
}

.left {
    float: left;
    width: 620px;
}

.left .thesis {
    float: left;
    margin-right: 20px;
}

.instruments {
    margin-right: 0px;
}

.slider {
    position: relative;
    width: 620px;
    height: 266px;
    float: left;
}

.slider-controls{
    position:absolute;
    bottom:36px;
    left:295px;
    width:200px;
    height:10px;
    margin-left:-100px;
    text-align:center;
    z-index:1000;
}
.slider input[type=radio] {
    position:absolute;
    opacity:0;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"] { 
    background:#ff5357;
}

.slider-controls label{
    display:inline-block;
    width:5px;
    height:5px;
    margin:0 3px;
    background: white;
    border:3px solid white;
    vertical-align:top;
    border-radius:50%;
    cursor:pointer;
}
.slider-controls .active{
    background:#ff5357;
}

.slider h2 {
    font-size: 36px;
    text-transform: uppercase;
    color: white;
    margin-top: 26px;
    margin-left: 24px;
    margin-bottom: 0px;
}

.slider p {
    font-size: 18px;
    font-family: "PT Sans";
    font-weight: normal;
    color: white;
    margin-top: 7px;
    margin-left: 24px;
    margin-bottom: 0px;
}

.slider .btn {
    position: absolute;
    width: 195px;
    left: 25px;
    bottom: 22px;
    display: inline-block;
}

.slider .left {
    position: absolute;
    width: 22px;
    height: 40px;
    left: 25px;
    bottom: 112px;
}

.slider .right {
    position: absolute;
    width: 22px;
    height: 40px;
    right: 25px;
    bottom: 112px;
}

.slide {
    height: 266px;
}

.slide:nth-child(1){
    background-image:url('../img/slider%201.jpg');
    background-repeat:no-repeat;
}

.slide:nth-child(2){
    background-image:url('../img/slider%202.jpg');
    background-repeat:no-repeat;
}

.slide{
    display:none;
}
 #btn-1:checked ~ .slides .slide:nth-child(1) { 
    display: block;
}
 #btn-2:checked ~ .slides .slide:nth-child(2) { 
    display: block;
}
 #btn-3:checked ~ .slides .slide:nth-child(3) { 
    display: block;
}

.popular-goods,
.popular-manufacturers {
    margin-top: 53px;
    margin-bottom: 20px;
    background-color: #f9f5f0;
    height: 89px;
    line-height: 89px;
}

.popular-goods h2,
.popular-manufacturers h2 {
    font-weight: 500;
    vertical-align: middle;
    margin-left: 28px;
    color: #3d546e;
}

.popular-manufacturers {
    margin-top: 20px;
}

.popular-goods a,
.popular-manufacturers a {
    float: right;
}

.btn {
    width: 253px;
    height: 38px;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 38px;
    vertical-align: middle;
    background-color: #ff5357;
    text-decoration: none;
    color: white;
    border-radius: 3px;
}

.btn:hover {
    background-color: #ca2c37;
}

.btn:active {
    background-color: #ba2732;
}

.popular-goods .btn,
.popular-manufacturers .btn{
    margin-right: 24px;
    margin-top: 25px;
}
















.brend {
    width: 218px;
    height: 143px;
    margin-right: 20px;
    margin-bottom: 20px;
    float: left;
    border: 1px solid #eaeaea;
    display: flex;
    flex-direction: column;
    justify-content: center;  
}

.brend:hover {
    box-shadow: 0px 0px 10px 5px;
}

.brend:active {
    box-shadow: 0px 0px 10px 3px;
}

.brend:nth-child(4n) {
    margin-right: 0px;
}

.brend a,
.brend img{
    margin: auto;
}











.service {
    position: relative;
    height: 522px;
    background-color: #f4f8f9;
    font-family: "PT Sans";
    color: black;
}



.slider02 {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

.service .container {
    padding-top: 65px;
}

.service h2 {
    margin: 0px;
    margin-bottom: 35px;
}

.service p {
    margin-top: 0px;
    margin-bottom: 74px;
}

.slider02 input {
    position:absolute;
    opacity:0;
}

.slider-controls02 {
    position: absolute;

    left: 0px;
    top: 238px;
    width: 240px;
    z-index:1000;
    
    
}

.service .container {
    position: relative;
}


.Details {
    margin-left: 320px;
    float: left;
    width: 312px;
}

.Details h2{
    color: #3d546e;
}

.Details p{
    margin-bottom: 30px;
}

.slider-controls02 label {
    display:inline-block;
    box-sizing: border-box;
    width: 240px;
    height: 61px;
    background-color: #3d546e;
    color: white;
    line-height: 61px;
    font-size: 21px;
    font-family: "Cuprum";
    vertical-align: middle;
    text-decoration: none;
    padding-left: 22px;
    z-index: 100;
    box-shadow: inset 0 1px 0 0px #33445a,
       inset 0 -1px 0 0px #293449;
}



.slider-controls02 label:hover {
    background-color: #293449;
}

#btn2-01:checked ~ .slider-controls02 label[for="btn2-01"],
#btn2-02:checked ~ .slider-controls02 label[for="btn2-02"],
#btn2-03:checked ~ .slider-controls02 label[for="btn2-03"] { 
    background:#ffffff;
    color: #3d546f;
    box-shadow: none;
}
.slide02:nth-child(1){
    background-image:url('../img/truck.png');
    background-repeat:no-repeat;
    background-position:100% 100%;
    background-repeat: no-repeat;
}
.slide02:nth-child(2){
    background-image:url('../img/Money.png');
    background-repeat:no-repeat;
    background-position:100% 100%;
    background-repeat: no-repeat;
}
.slide02:nth-child(3){
    background-image:url('../img/100%25.png');
    background-repeat:no-repeat;
    background-position:100% 100%;
    background-repeat: no-repeat;
}


.slide02{
    font-family: "Cuprum";
    position: relative;
    height: 522px;
    display:none;
}
#btn2-01:checked ~ .slides02 .slide02:nth-child(1) { 
    display: block;
}
#btn2-02:checked ~ .slides02 .slide02:nth-child(2) { 
    display: block;
}
#btn2-03:checked ~ .slides02 .slide02:nth-child(3) { 
    display: block;
}


body > div.service > div > div.slides02 > div:nth-child(3) > div > div > a {
    font-family: "Cuprum";
    font-size: 14px;
    display: block;
    width: 195px;
    height: 38px;
}























.about {
    position: relative;
    height: 537px;
}

.about .container {
    position: relative;
    padding-top: 80px;
}

.about .container .btn {
    display: block;
    margin-top: 40px;
}

.about h2 {
    margin: 0px;
    margin-bottom: 30px;
    font-weight: 500;
}

.about p {
    margin: 0px;
    margin-bottom: 30px;
    color: black;
    font-family: "PT Sans";
    font-size: 14px;
}

.company {
    width: 535px;
    float: left;
}

.map {
    width: 300px;
    float: right;
}

.map a {
    
    display: block;
}

.about .map p {
    
    margin-bottom: 35px;
}

.company ul li p {
    margin-bottom: 20px;
}

.company ul li {
    list-style-image: 
}










.main-footer {
    height: 300px;
    font-family: "Cuprum";
    
}

.footer-top {
    height: 193px;
    background-color: #3d546e;
}

.logo-bot {
    display: flex;
    justify-content: center;
    align-items:center;
    width: 220px;
    height: 68px;
    float: left;
    background-color: #ff5357;
    font-size: 30px;
    text-transform: uppercase;
    box-shadow: inset 0 -10px 0 -5px #c23f42; 
}

.nav-bot {
    float: right;
    margin-top: 40px;
    
}

.nav-bot a {
    margin-left: 60px;
    text-decoration: none;
    color: white;
}

.string1 {
    margin-bottom: 30px;
}

.menu-bot {
    float: right;
}

.menu-bot a{
    margin-left: 60px;
    text-decoration: none;
    color: #ffda96;
}

.nav-bot a:hover,
.menu-bot a:hover {
    text-decoration: underline;
}

.nav-bot a:active,
.menu-bot a:active {
    opacity: 0.5;
    text-decoration: none;
}

.string2 span {
    float: left;
}
 
.footer-bot {
    height: 107px;
    background-color: #33445b;
    font-size: 16px;
}

.footer-bot .container {
    padding-top: 33px;
}

.footer-contacts {
    width: 240px;
    float: left;
}

.footer-social {
    width: 140px;
    float: left;
    margin-left: 130px;
}

.footer-social a {
    display: inline-block;
    width: 42px;
    height: 42px;
    background-color: #212a3a;
    border-radius: 50%;
    position: relative;
}

.social-btn:hover {
    background-color: #ee3643;
}

.social-btn:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); 
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
}

.social-btn-vk:before {
    width: 20px;
    height: 12px;
    background-position: -10px -85px;
}

.social-btn-fb:before {
    width: 10px;
    height: 18px;
    background-position: -10px -10px;
}

.social-btn-inst:before {
    width: 17px;
    height: 17px;
    background-position: -10px -48px;
}

.footer-copyright {
    width: 300px;
    float: right;
}

.footer-copyright .Feedback a,
.footer-copyright .Developed a {
    text-decoration: none;
    color: #ffda96;
}

.footer-copyright .Feedback a:hover,
.footer-copyright .Developed a:hover {
    text-decoration: underline;
    color: #ffda96;
}

.footer-copyright .Feedback a:active,
.footer-copyright .Developed a:active {
    text-decoration: none;
    color: #e53643;
}



.Feedback {
    float: left;
    width: 140px;
}

.Developed {
    float: right;
    width: 140px;
}

.sprite {
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    display: flex;
}

.sprite--icon-facebook-copy {
    width: 10px;
    height: 18px;
    background-position: -10px -10px;
}

.sprite--icon-instagramm-copy {
    width: 17px;
    height: 17px;
    background-position: -10px -48px;
}

.sprite--icon-vk-copy {
    width: 20px;
    height: 12px;
    background-position: -10px -85px;
}

































.inner .registration .client {
    display: block;
    position: relative;
    box-sizing: border-box;
    padding-left: 46px;
    padding-top: 10px;
    font-family: "Cuprum";
    font-size: 21px;
    color: black;
    text-decoration: none;
    width: 299px;
    height: 45px;
    background-color: white;
}

.inner .registration .client:before {
    content: "";
    position: absolute;
    width: 20px;
    height: 18px;
    left: 13px;
    top: 13px;
    background-image: url(../img/.icon-user.png);
}

.inner .registration .client:hover:before {
    content: "";
    position: absolute;
    width: 20px;
    height: 18px;
    left: 13px;
    top: 13px;
    background-image: url(../img/.icon-user2.png);
}

.inner .registration .client:after {
    content: "";
    position: absolute;
    width: 21px;
    height: 17px;
    right: 14px;
    top: 14px;
    background-image: url(../img/.icon-logout.png);
}

.inner .registration .client:hover:after {
    content: "";
    position: absolute;
    width: 21px;
    height: 17px;
    background-image: url(../img/.icon-logout2.png);
}

.inner .registration .client:active:before,
.inner .registration .client:active:after,
.inner .registration .client:active span {
    opacity: 0.3;
}

.inner .registration ul {
    padding-left: 18px;
    margin: 0px;
    color: #32425c;
}

.inner .registration ul li {
    position: relative;
    list-style: none;
    display: inline-block;
    font-family: "Cuprum";
    font-size: 16px;
    color: #32425c;
    margin-right: 32px;
}

.inner .registration ul li:not(:last-child):after {
    content: '';
    position: absolute;
    width: 4px;
    height: 5px;
    left: 90px;
    top: 8px;
    background-color: #32425c;
    border-radius: 50%;
}

.inner .registration ul li a {
    color: #32425c;
}

.inner .registration ul li a:hover {
    color: #ee3643;
}

.inner .registration ul li a:active {
    color: #32425c;
    opacity: 0.3;
}

.inner .main-catalog {
    height: 1372px;
}

.inner .main-catalog .container {
    padding-top: 24px;
}

.inner .breadcrumbs ul {
    margin: 0px;
    padding: 0px;
    font-family: "PT Sans";
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
}

.inner .breadcrumbs ul li {
    display: inline;
    text-decoration: none;
    margin-right: 20px;
}

.inner .breadcrumbs ul li:not(:last-child):after {
    content: '';
display: inline-block;
width: 5px;
height: 5px;
border-top: 2px solid #cdd1d8;
border-right: 2px solid #cdd1d8;
transform: rotate(45deg);
margin-left: 20px;
}

.inner .breadcrumbs ul li a {
    text-decoration: none;
    color: black;
}

.lastcrumbs {
    color: black;
}

.inner .Caption {
    margin-top: 23px;
    height: 89px;
    background-color: #f2f6f8;
}

.inner .Caption h2 {
    margin-top: 32px;
    margin-left: 28px;
    font-weight: normal;
    color: #32425c;
}

.inner .form-group {
    margin-top: 20px;
    margin-right: 20px;
    width: 220px;
    float: left;
}

.inner .Filter-unit .btn {
    width: 140px;
    background-color: white;
    color: black;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
}

.inner .left {
    box-sizing: border-box;
    width: 220px;
    height: 38px;
    padding-left: 19px;
    padding-top: 10px;
    background-color: #f7f3ec;
    font-family: "PT Sans";
    font-size: 13px;
    color: #000000;
}

.inner .form-group h2 {
    font-family: "PT Sans";
    font-size: 17px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 23px;
}



.inner .right {
    width: 700px;
    height: 38px;
    background-color: #f7f3ec;
}










.range-filter {
    width:220px;
    margin:auto;
}
.range-controls {
    position:relative;
    height:80px;
    margin-bottom:15px;
    padding:0 30px;
    background:#f7f3ec;
/*    border-radius:5px;*/
    overflow:hidden;
}
.scale {
    margin-top:39px;
    height:2px;
    background:#d7dcde;
}
.bar {
    height:2px;
    background:#00ca74;
}
.toggle {
    position:absolute;
    top:30px;
    left:30px;
    width:4px;
    height:4px;
    border:8px solid white;
    background:#ababab;
    cursor:pointer;
    border-radius:50%;
}
.min-toggle {
    left:70px;
}
.max-toggle {
    left:165px;
}
.price-controls {
    color: #000000;
}

.min-price,
.max-price {
    box-sizing: border-box;
    width:95px;
    height: 38px;
    padding:8px 10px;
    margin-left: 0px;
    margin-bottom: 25px;
    border:none;
    background:#f7f3ec;
    font-size:17px;
    font-family:"PT Sans", sans-serif;
    text-align:center;
    color:#f7f3ec;
/*    border-radius:5px;*/
    color: #000000;
}
.min-price {
    margin-right:12px;
}
.max-price {
    float: right;
}

.inner .Filter-unit {
    position: relative;
    margin-bottom: 16px;
}

.inner .Filter-unit input[type=checkbox] {
    display: none;
}

.inner .Filter-unit input[type=radio] {
    display: none;
}

.inner .Filter-unit label {
    padding-left: 35px;
    margin-bottom: 16px;
    color: black;
    text-transform: uppercase;
    font-size: 15px;
}

.inner .Filter-unit label:before {
    content:'';
    position: absolute;
	display:block;
	height:23px;
	width:23px;
    background-image: url(../img/.icon-check-off%20copy.png);
    background-repeat: no-repeat;
}

.inner .Filter-unit label:hover:before {
    content:'';
    position: absolute;
	display:block;
	height:23px;
	width:23px;
    background-image: url(../img/.icon-check-off2.png);
    background-repeat: no-repeat;
}

.inner .Filter-unit input[type=checkbox]:checked + label:before {
    content:'';
    position: absolute;
	display:block;
	height:27px;
	width:27px;
    background-image: url(../img/.icon-check-on.png);
    background-repeat: no-repeat;
}

.inner .Filter-unit input[type=checkbox]:hover:checked + label:before {
    content:'';
    position: absolute;
	display:block;
	height:27px;
	width:27px;
    background-image: url(../img/.icon-check-on2.png);
    background-repeat: no-repeat;
}

.power_type .Filter-unit label {
    font-size: 14px;
}

.power_type .Filter-unit label:before {
    content:'';
    position: absolute;
	display:block;
    height:25px;
	width:25px;
    background-image: url(../img/.icon-circle.png);
    background-repeat: no-repeat;
}

.power_type .Filter-unit label:hover:before {
    height:25px;
	width:25px;
    background-image: url(../img/.icon-circle2.png);
}

.power_type .Filter-unit input[type=radio]:checked + label:before {
    content:'';
    position: absolute;
	display:block;
    height:25px;
	width:25px;
    background-image: url(../img/.icon-circle-dot.png);
}

.power_type .Filter-unit input[type=radio]:checked:hover + label:before {
    height:25px;
	width:25px;
    background-image: url(../img/.icon-circle-dot2.png);
}

.Filter-unit .btn {
    margin-top: 60px;
}

.inner .filter-form hr {
    color: #e5e5e5;
    size: 1px;
    margin-top: 0px;
}

.inner .perforators .catalog-item {
    margin-left: 0px;
    margin-top: 20px;
    margin-right: 20px;
}

.inner .perforators .catalog-item:nth-child(3n) {
    margin-right: 0px;
}


.inner .showcase {
    float: right;
    width: 700px;
    margin-top: 20px;
}

.inner .showcase .right {
    box-sizing: border-box;
    position: relative;
    padding-left: 19px;
    padding-top: 10px;
    background-color: #f7f3ec;
    font-family: "PT Sans";
    font-size: 13px;
    color: #000000;
    text-transform: uppercase;
    
}

.inner .showcase .right a {
    color: #000000;
    opacity: 0.3;
    text-decoration: underline #ee3643 dotted;
}

.inner .showcase .right a:hover {
     opacity: 1;
    text-decoration: underline #ee3643;
}

.inner .showcase .right a:active {
    opacity: 1;
    color: #ee3643;
    text-decoration: none;
}

.inner .showcase .right .down {
    position: absolute;
    display: block;
    width: 11px;
    height: 10px;
    top: 14px;
    right: 17px;
    opacity: 1;
    background-image: url(../img/.icon-down-dir.png);
    background-repeat: no-repeat;
}

.inner .showcase .right .down:hover {
    background-image: url(../img/.icon-down-dir2.png);
}

.inner .showcase .right .down:active {
    background-image: url(../img/.icon-down-dir3.png);
}

.inner .showcase .right .up {
    position: absolute;
    display: block;
    width: 11px;
    height: 10px;
    top: 14px;
    right: 50px;
    opacity: 1;
    background-image: url(../img/.icon-up-dir.png);
    background-repeat: no-repeat;
}

.inner .showcase .right .up:hover {
    background-image: url(../img/.icon-up-dir2.png);
}

.inner .showcase .right .up:active {
    background-image: url(../img/.icon-up-dir3.png);
}







.inner .Product-nav {
    margin-top: 52px;
    float: left;
}

.inner .Product-nav a {
    display: inline-block;
    width: 38px;
    height: 38px;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    margin-right: 10px;
    color: black;
    font-size: 13px;
    line-height: 38px;
    font-family: "PT Sans";
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    text-transform: uppercase;
}

.inner .Product-nav a:hover {
    border: 1px solid #bdc6ca;
}

.inner .Product-nav a:active {
    border: 1px solid #ee3643;
}

.inner .Product-nav .active {
    background-color: #ee3643;
    color: white;
}

.inner .Product-nav .next {
    width: 140px;
}

.inner .showcase article {
    margin-top: 20px;
}

.inner .perforators article:nth-child(3n) {
    margin-right: 0px;
}

.inner .new .hoover .buy,
.inner .new .hoover .bookmarks{
    width: 135px;
    height: 38px;
}

.inner .Product-nav li {
    display: inline;
}

.inner .about-perforator {
    height: 261px;
    background-color: #f2f6f8;
    color: black;
}

.inner .about-perforator .container {
    padding-top: 68px;
}

.inner .about-perforator .container p {
    font-size: 15px;
}

.inner .about-perforator h2 {
    margin-top: 0px;
    margin-bottom: 38px;
}

.inner .about-perforator p {
    margin: 0px;
}














.showcase {
    margin-left:-20px;
    font-family:"PT Sans", sans-serif;
}


.catalog-item{
    position:relative;
    display:inline-block;
    width:218px;
    margin-left:20px;
    margin-bottom:20px;
    border:1px solid #ccc;
    line-height:20px;
    font-weight:bold;
    text-align:center;
}
.showcase {
    font-size:0;
}
.catalog-item{
    font-size:16px;
}
.catalog-item:hover {
    box-shadow: 0 0 5px 5px;
}
.showcase .catalog-item {
    margin-bottom: 0px;
}
.catalog-item .flag{
    position:absolute;
    top:-1px;
    right:-1px;
    width:60px;
    height:60px;
    text-indent:-1000px;
    overflow:hidden;
     z-index:20;
}
.catalog-item .flag-new{
    background:url("img/new-flag.png") no-repeat 0 0;
}
.catalog-item .actions{
    position:absolute;
    top:0;
    left:0;
    width:218px;
    height:88px;
    padding:40px 0;
    background-color:rgba(255,255,255,0.9);
    z-index:10;
}
.catalog-item .actions .buy,
.catalog-item .actions .bookmark{
    position: relative;
    display:block;
    width:135px;
    margin:0 auto;
    margin-bottom:7px;
    padding:7px 0;
    border:3px solid #63a63e;
    border-bottom-color:#367416; 
    background-color:#63a63e;
    color:white;
    font-size:14px;
    font-weight:normal;
    font-family:"Cuprum", sans-serif;
    line-height:18px;
    text-decoration:none;
    text-transform:uppercase;    
    border-radius:3px;
}
.catalog-item .actions .buy:hover {
    background-color:#5fbb2d;
    border-color:#5fbb2d;
    border-bottom-color:#367416;
}
.catalog-item .actions .buy:active {
    background-color:#367416;
    border-color:#367416;
}
.catalog-item .actions .buy::after {
    content: "";
    position: absolute;
    width: 17px;
    height: 16px;
    top: 7px;
    left: 12px;
    background-image: url(../img/.icon-basket.png);
    opacity: 0.3;
}
.catalog-item .actions .buy:hover::after {
    opacity: 1;
}
.catalog-item .actions .bookmark{
    color:#32425c;
    background:white;
    border-bottom-color:#63a63e;
}
.catalog-item .actions .bookmark:hover {
    border-color:#32425c;
}
.catalog-item .actions .bookmark:active {
    opacity: 0.3;
}
.catalog-item .actions{
    display:none;
}
.catalog-item:hover .actions{
    display:block;
}
.actions .buy::hoover {
    
}
.catalog-item .image{
    width:218px;
    height:168px;
}
.catalog-item .image img{
    max-width:100%;
}
.catalog-item .title{
    min-height:40px;
    padding:0 25px;
    margin-top:10px;
    margin-bottom:10px;
    font-size: 18px;
}
.catalog-item .discount{
    min-height:20px;
    margin-top:10px;
    margin-bottom:10px;
    color:#999;
    text-decoration:line-through;
    font-size: 17px;
}
.catalog-item .price{
    position:relative;
    width:80px;
    margin:10px auto;
    margin-bottom:20px;
    padding:9px 30px;
    color:white;
    background:#ee3643;
    border-radius:3px;
    font-size: 17px;
}
.catalog-item .price:after{
    content:"";
    position:absolute;
    top:0;
    right:-20px;
    width:0;
    height:0;
    border:19px solid white;
    border-left-color:#ee3643;
}

.showcase .catalog-item::nth-child(4) {
    margin-right: 0px;
}























.modal-content {
    box-sizing: border-box;
     position: absolute;
    top: 50%;
  right: 50%;
  bottom: 50%;
  left: 50%;
     width: 620px;
    height: 430px;
    margin-left: -310px;
    margin-top: -215px;
     padding: 0 80px;
    padding-top: 55px;
     box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7),
         inset 0 12px 0 -5px #ff5357,
         inset 0 -112px 0 0 #f4f4f4;
    background-color: #ffffff;
    display: none;
}

.modal-content-close {
  position: absolute;
  top: 9px;
  right: 9px;

  width: 22px;
  height: 22px;
  padding: 0px;
  font-size: 0;

  background: none;
  border: 0;
  cursor: pointer;
}

.modal-content-close::before,
.modal-content-close::after {
  content: "";
  position: absolute;
  margin: 0px;
  width: 19px;
  height: 3px;
  left: 5px;
  top: 5px;
  background-color: #ff5357;
  border-radius: 1px;
}

.modal-content-close::before {
  transform: rotate(45deg);
}

.modal-content-close::after {
  transform: rotate(-45deg);
}

.modal-content form label {
    
    color: black;
}

.modal-content form input {
    border: 2px solid #dee3e4;
    border-radius: 2px;
    width: 216px;
    height: 38px;
    
}

.modal-content form .left input,
.modal-content form .right input {
    box-sizing: border-box;
    font-size: 13px;
    font-family: "PT Sans";
    color: #a9a9a9;
    padding-left: 15px;
}

.modal-content form .left {
    float: left;
    width: 220px;
    margin-bottom: 18px;
}

.modal-content form .right {
    float: right;
    width: 220px;
        margin-bottom: 18px;
}

.modal-content form .text {
    float: left;
    width: 460px
}

.modal-content form .text textarea {
    width: 460px;
        height: 114px;
    border: 2px solid #dee3e4;
    border-radius: 2px;
    box-sizing: border-box;
    font-size: 13px;
    font-family: "PT Sans";
    color: #a9a9a9;
    padding-left: 15px;
    padding-top: 10px;
}

.modal-content form .send {
    float: left;
    width: 460px;
    height: 38px;
    margin-top: 74px;
    color: white;
    background-color: #ff5357;
    border: none;
    font-family: "Cuprum";
    font-size: 14px;
    text-transform: uppercase;
    z-index: 20;
    cursor: pointer;
}

.modal-map {
    position: absolute;
  width: 940px;
  height: 446px;
  top: 33px;
    left: 0px;
  background: #e9e5dc;
    background-image: url(../img/BigMap.jpg);
   box-shadow: 0 0 25px 0px rgba(0, 0, 0, 1); 
    display: none;
} 































