body {
  font-size: 18px;
  font-family: "Cuprum";
  color: rgb(241, 245, 247);
  line-height: 1.333;
}

h1 {
  font-size: 30px;
  font-family: "Cuprum";
  color: rgb(50, 66, 92);
  text-transform: uppercase;
  line-height: 1;
}

h2 {
  font-size: 30px;
  font-family: "Cuprum";
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  line-height: 0.8;
      display: inline-block;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.top-header {
  background-color: #293449;
  height: 42px;
   
}

.header-logo {
  float: left;  
  width: 220px;
  height: 42px; 
  background-color: #ff5357;
  color: white; 
    border-bottom: 5px solid #c23f42;
}

.header-logo,
.header-form,
.Bookmarks,
.Purchases,
.Buy {
  float: left;  
}

.header-form {
    width: 270px;
}

.Purchases {
    float: right;
    background-color: #ff5357;
    width: 150px;
    height: 42px;
}

.Bookmarks {
    float: right;
    background-color:  ;
    width: 150px;
    height: 42px;
}

.Buy {
    float: right;
    width: 150px;
    height: 42px; 
    background-color: #6db254;
    color: white; 
}



.header-top {
    height: 42px;
    background-color: #33445a;
}

.header-bot {
    box-sizing: border-box;
    height: 280px;
    padding-top: 45px;
    background-color: #f2f6f8;
}

.description p {
    margin: 0px;
}

.description,
.contacts,
.registration {
    float:left;
}

.description {
    width: 197px;
    margin-left: 52px;
    margin-right: 71px;
}

.contacts {
    width: 270px;
    height: 67px;
    margin: 0px auto;
}

.phone {
    width: 270px;
    height: 41px;
    border: 2px solid white;
}

.contacts .phone img,
.contacts .phone p,
.contacts p,
.contacts .phone {
   display: inline-block;
   margin: 0px auto;
}

.registration {
    float: right;
}

.client {
    width: 299px;
    height: 45px;
    background-color: white;
}

.user-block {
   float: right;
}



.main-navigation ul li {
   display: inline-block;
    margin: 0px;
}

.main-navigation ul {
    margin: 0px;
    padding: 0px;
}

.main-navigation {
    width: 940px;
    min-height: 60px;
    background-color: #33445a;
    border-bottom: 5px solid #33445a;
    margin-top: 44px;
}

.main-catalog .container {
    padding-top: 60px;
}

.thesis p {
    margin: 0px;
}

.thesis {
    width: 300px;
    height: 123px;
    background-color: #ffbf47;
    margin-bottom: 20px;
}

.right {
    float: right;
}

.left {
    float: left;
    width: 620px;
}

.left .thesis {
    float: left;
    margin-right: 20px;
}

.instruments {
    margin-right: 0px;
}

.slider {
    background-image:url(slider%201.jpg);
    width: 620px;
    height: 266px;
    float: left;
}


.popular-goods,
.popular-manufacturers {
    margin-top: 53px;
    margin-bottom: 20px;
    background-color: #f9f5f0;
    height: 89px;
}

.popular-manufacturers {
    margin-top: 20px;
}

.popular-goods a,
.popular-manufacturers a {
    float: right;
}

.btn {
    width: 253px;
    height: 38px;
    text-align: center;
    line-height: 38px;
    vertical-align: middle;
    background-color: #ff5357;
    text-decoration: none;
    color: white;
}

.popular-goods .btn,
.popular-manufacturers .btn{
    margin-right: 24px;
    margin-top: 25px;
}


article {
    width: 218px;
    height: 316px;
    margin-right: 20px;
    float: left;
    border: 1px solid #eaeaea;
}

article:last-child {
    margin-right: 0px;
}

.brend {
    width: 218px;
    height: 143px;
    margin-right: 20px;
    margin-bottom: 20px;
    float: left;
    border: 1px solid #eaeaea;
    display: flex;
    flex-direction: column;
    justify-content: center;  
}

.brend:nth-child(4n) {
    margin-right: 0px;
}

.brend a,
.brend img{
    margin: auto;
}

.service {
    height: 522px;
    background-color: #f4f8f9;
}

.service .container {
    padding-top: 65px;
    background-image: url(truck.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

.service h2 {
    margin: 0px;
    margin-bottom: 35px;
}

.service p {
    margin-top: 0px;
    margin-bottom: 74px;
}

.services {
    width: 240px;
    float: left;
    margin-right: 80px;
}

.Details {
    float: left;
    width: 312px;
}

.services a {
    float: left;
    width: 240px;
    height: 61px;
    background-color: #3d546e;
    color: white;
    line-height: 61px;
    vertical-align: middle;
}

.services a:hover {
    background-color: #293449;
}

.about {
    height: 537px;
}

.about .container {
    padding-top: 80px;
}

.about h2 {
    margin: 0px;
    margin-bottom: 35px;
}

.about p {
    margin: 0px;
    margin-bottom: 35px;
}

.company {
    width: 535px;
    float: left;
}

.map {
    width: 300px;
    float: right;
}

.main-footer {
    height: 300px;
}

.footer-top {
    height: 193px;
    background-color: #3d546e;
}

.logo-bot {
    width: 220px;
    height: 68px;
    float: left;
    background-color: #ff5357;
}

.nav-bot {
    float: right;
}

.string1 {
    margin-bottom: 30px;
}

.menu-bot {
    float: right;
}

.string2 span {
    float: left;
}
 
.footer-bot {
    height: 107px;
    background-color: #33445b;
}

.footer-bot .container {
    padding-top: 33px;
}

.footer-contacts {
    width: 240px;
    float: left;
}

.footer-social {
    width: 140px;
    float: left;
}

.footer-copyright {
    width: 300px;
    float: right;
}

.Feedback {
    float: left;
    width: 140px;
}

.Developed {
    float: right;
    width: 140px;
}














.inner .main-catalog {
    height: 1372px;
}

.inner .main-catalog .container {
    padding-top: 24px;
}

.inner .breadcrumbs ul {
    margin: 0px;
}

.inner .breadcrumbs ul li{
    display: inline;
}

.inner .Caption {
    margin-top: 23px;
    height: 89px;
    background-color: #f2f6f8;
}

.inner .Caption h2 {
    margin-top: 32px;
    margin-left: 28px;
    font-weight: normal;
}

.inner .form-group {
    margin-top: 20px;
    margin-right: 20px;
    width: 220px;
    float: left;
}

.inner .Filter-unit .btn {
    width: 140px;
    background-color: white;
    color: black;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
}

.inner .left {
    width: 220px;
    height: 38px;
    background-color: #f7f3ec;
}

.inner .right {
    width: 700px;
    height: 38px;
    background-color: #f7f3ec;
}




.inner .showcase {
    float: right;
    width: 700px;
    margin-top: 20px;
}

.inner .Product-nav {
    margin-top: 52px;
    float: left;
}

.inner .Product-nav ul {
    padding: 0px;
    margin: 0px;
}



.inner .showcase article {
    margin-top: 20px;
}

.inner .perforators article:nth-child(3n) {
    margin-right: 0px;
}

.inner .new .hoover .buy,
.inner .new .hoover .bookmarks{
    width: 135px;
    height: 38px;
}

.inner .Product-nav li {
    display: inline;
}

.inner .about-perforator {
    height: 261px;
    background-color: #f2f6f8;
    color: black;
}

.inner .about-perforator .container {
    padding-top: 68px;
}

.inner .about-perforator .container p {
    font-size: 15px;
}

.inner .about-perforator h2 {
    margin-top: 0px;
    margin-bottom: 38px;
}

.inner .about-perforator p {
    margin: 0px;
}







body > div > div.main-catalog.clearfix > div > div.showcase > div.perforators > article.new.hoover > a.buy {
    display: block;
    width: 135px;
    height: 38px;
    background-color: #63a63e;
    margin-top: 43px;
    margin-left: 41px;
    border-radius: 3px;
}

body > div > div.main-catalog.clearfix > div > div.showcase > div.perforators > article.new.hoover > a.bookmarks {
    display: block;
    width: 129px;
    height: 32px;
    border: 3px solid #63a63e;
    margin-top: 8px;
    margin-left: 41px;
    border-radius: 3px;
}





















































